@{
    Layout = "_Layout";
}
<div class="choice-container">
    <h2>Welcome!</h2>
    <p>Already registered?</p>
    <a href="/Auth/Login" class="btn">Login</a>

    <p>Not registered yet?</p>
    <a href="/Auth/Register" class="btn">Create Account</a>
</div>
