@page
@model Core_Web_Razor_Demo.Pages.Static_Files_DemoModel
@{
}

<h1>Serving the static files</h1>
<hr/>

<p class= "wipro"> These a Demo page where we 
	did the implementation of satic files
</p>

<button onclick="showAlert()">Click Here</button>;

<button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-link">Link</button>