@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h6 class="display-4"><b>WELCOME TO STORE</b></h6>
    <div>
    <a class="item" asp-area="" asp-page="/Add Item "><h5>Add Item</h5></a>
    <a class="item" asp-area="" asp-page="/Item List"><h5>Item List</h5></a>
    </div>
    @*<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>






