<h1>Login</h1>
<form method="post">
    <input type="text" name="username" placeholder="Username" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
</form>
<p style="color:red">@ViewBag.Error</p>

<p>Or <a href="/Account/FakeLogin?user=tejal">Fake Login as Customer</a></p>
<p>Or <a href="/Account/FakeLogin?user=admin">Fake Login as Admin</a></p>
