@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <my-first-tag-helper>
        Welcome to Tag Helpers, I have created my first demo for custom tag helper
    </my-first-tag-helper>
</div>